[user]
	name = Cameron Blocker
	email = cameronjblocker@gmail.com
[push]
	default = simple
[core]
	editor = subl -n -w
[github]
	user = cjblocker
[ghi]
	token = !security find-internet-password -a cjblocker -s github.com -l 'ghi token' -w
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[alias]
	co = checkout
	cob = checkout -b
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
	ls = status -s
	stat = status
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	wdiff = diff --color-words
	root = rev-parse --show-toplevel
	exec = "!exec "
	# https://stackoverflow.com/questions/38057261/git-config-alias-escaping
	quote-string = "!read -r l; printf \\\"!; printf %s \"$l\" | sed 's/\\([\\\"]\\)/\\\\\\1/g'; printf \" #\\\"\\n\" #"
	quote-string-undo = "!read -r l; printf %s \"$l\" | sed 's/\\\\\\([\\\"]\\)/\\1/g'; printf \"\\n\" #"
	open = "!f() { open $(git config remote.$(git remote | head -n1).url| sed \"s#git@\\(.*\\):\\(.*\\).git#https://\\1/\\2#\"| sed \"s#\\(hg::\\)*\\(.*\\)\\(.git\\)*#\\2#\"); }; f #"
	# https://stackoverflow.com/a/56510040/5026175
	sh = "!perl -nE 'BEGIN {print \"git > \"} system \"git $_\"; print \"git > \"' #"
